html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  fill: var(--color);
  fill-opacity: 0.6;
  stroke: white;
  pointer-events: auto;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  width: 100%;
}

header label {
  margin-left: auto;
}

header time,
header em {
  display: block;
  text-align: right;
}

header em {
  color: gray;
  font-style: italic;
}

.legend {
  display: flex;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
  margin-block: 1em;
}

.legend::before {
  content: "Legend:";
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  font-size: 0.8em;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend > div::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--color);
}